---
title: Open Studio
---
<main>
  <div class="contain">
    {% include open.html %}
    <hr>
    <p class="intro">Open Studio is a space to work on projects (on your own computer or one of the iMacs in the room), gather with friends, get help from design faculty, or just relax. There will be workshops, talks, and demos throughout the semester so keep an eye here to see what's coming up. Check the schedule in the footer or on the about page to see when we are open. Open Studio is run by the School of Art at George Mason University.</p>
    <!-- {% include recent.html %} -->
  </div>
</main>
