---
title: Open Studio
---
<main>
  <div class="contain">
    {% include open.html %}
    <hr>
    <p class="intro">Open Studio will return in the Spring with new hours and new workshops. Check back near the start of classes to see the new schedule.</p>
    <p>Open Studio is a space to work on projects (on your own computer or one of the iMacs in the room), gather with friends, get help from design faculty, or just relax. There will be workshops, talks, and demos throughout the semester so keep an eye here to see what's coming up. Check the schedule in the footer or on the about page to see when we are open. Open Studio is run by the School of Art at George Mason University.</p>
    <p>If you have a suggestion for workshops, demos, or other events you would like to see hosted in the space let us know. We are also up for suggestions on other tools and equipment you would like to have available. You can talk to anyone in the space or send an email to Michael at <span class="highlight">mmcderm8@gmu.edu</span>.
    {% include future.html %}
    <!-- {% include recent.html %} -->
  </div>
</main>
