<footer>
  <div class="footer-contain">
    <article>
      <h4>Hours</h4>
      <ul>
        <li>Mon: 11am&ndash;1pm &amp; 7:30&ndash;9:30pm</li>
        <li>Tues: 11am&ndash;1pm</li>
        <li>Wed: 11am&ndash;3pm</li>
        <li>Thur: 12&ndash;4pm</li>
        <li>Fri: 11am&ndash;1pm</li>
        <li>Sat&ndash;Sun: Closed</li>
      </ul>
    </article>
    <article>
      <h4>Location</h4>
      <ul>
        <li>George Mason University</li>
        <li>Art and Design Building</li>
        <li>Room 1023</li>
      </ul>
    </article>
  </div>
</footer>
