<footer>
  <div class="footer-contain">
    <article>
      <h4>Hours</h4>
      <ul>
        <!-- <li>Mon: 11am&ndash;1pm &amp; 7:30&ndash;9:30pm</li> -->
        <li>Mon: Closed</li>
        <li>Tues: Closed</li>
        <li>Wed: Closed</li>
        <li>Thur: Closed</li>
        <li>Fri: Closed</li>
        <li>Sat&ndash;Sun: Closed</li>
      </ul>
    </article>
    <article>
      <h4>Location</h4>
      <ul>
        <li>George Mason University</li>
        <li>Art and Design Building</li>
        <li>Room 1023</li>
      </ul>
    </article>
  </div>
</footer>
