<!doctype html>
<html class="load-hide">
  {% include head.html %}
  <body>
    {% include header-post.html %}
    <section class="post-title-container">
      <div class="post-title">
        <div class="post-text">
          <h2>{{ page.title }}</h2>
        </div>
        <div class="post-title-img" style="background-image: url('/open-studio/assets/img/{{ page.image }}')">
          <!-- <img src="/assets/img/{{ page.image }}"> -->
        </div>
      </div>
    </section>
    <main class="post">
      {{ content }}
    </main>
    {% include footer.html %}
    {% include scripts.html %}
  </body>
</html>
